<div class ='container'>
  <div class = 'row'>
    <% if @articles.where(user: current_user.id).count == 0 %>
    <%= "Sorry, you don't have any photos with that location information" %>
    <% else %>

    <% @articles.where(user: current_user.id).each do |article| %>
    <div class= 'col-xs-12 col-md-4 col-lg-4'>
      <div class = 'classapple sizeing'>
        <%= image_tag(article.url) %></br>
        <b><%= article.ig_user %></b></br>
        <%= article.google_name %></br>
        <%= article.loc_name %></br>
        <%= article.caption %>

        <div class='actions'>
          <!-- OLD button with ajax working:          <%= button_to "Pin It", "/pinned/new" %> -->

          <!-- MODAL STARTS HERE -->
          <a id="fml"  href='javascript:void(0)' onClick="$('#modal-window-<%=article.id%>').modal()"
            <button type="button" class="btn btn-primary prettyblue" data-toggle="modal" data-target="#addListItem" data-id="<%= article.id %>"  target= "#addListItem">
              +Album
            </button>
          </a>

          <div id='modal-window-<%=article.id%>' class='modal fade' id="addListItem" role='dialog' aria-labelledby='myModalLabel' aria-hidden
            ='true' >
            <div class='modal-dialog'>
              <div class='modal-content'>
                <%= render '/album/pua', locals: {photo_id: article.id}  %>
              </div>
            </div>
          </div>
          <!-- MODAL ENDS HERE -->

          <% @pid = article.id %>
          <%= hidden_field_tag "[pid]", article.id, class: "info" %>

        </div>
      </div>
    </div>



    <% end %>

    <% end %>
  </div>
</div>
