<div class="scroll">
  <ul class="rig columns-3">
    <% @photos.each do |n|%>
      <% cache(n) do %>
        <li class='class row' data-id=<%= n.id %>>
        <%= image_tag("#{n.url}")%></br>
        <%= n.ig_user %></br>
        <%= n.loc_name %></br>
        <%= n.lat %></br>
        <%= n.long %></br>
        <div class=' col-lg-1 actions'>
          <%= button_to "Pin It", "/pinned/new", class: 'choose btn btn-default' %>
          <% @pid = n.id %>
          <%= hidden_field_tag "[pid]", n.id, class: "info" %>
        </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<%= will_paginate @photos%>
</div>
