
<div class="scroll">
  <ul class="rig columns-3">

  <% @photos.each do |n|%>
  <li>
  <div class = 'imagesize'>
    <%= image_tag("#{n.url}")%>
  </div>
    </br>
    <%= n.lat %></br>
    <%= n.long %></br>
    <%= n.loc_name %></br>
    <%= n.caption %></br>
  </li>
  <% end %>

</ul> 



</div>
