<div class="container">
  <% @photos.where(user: current_user.id).in_groups_of(3).each do |photo|%>
  <div class="row">
    <% photo.each do |n| %>
    <!-- <%# cache(n) do %> -->
    <div class= 'col-xs-12 col-md-4'>
      <div class='class' data-id="<%= @yay = n.id %>">

        <%= image_tag n.url %></br>
        <%= n.ig_user %></br>
        <div class ='commentfrominsta'>
          <%= n.caption %></br>
        </div> 
        <%= @loc = n.loc_name %></br>
        <%= @lat = n.lat %></br>
        <%= @long = n.long %></br>
        <%= n.google_name %></br>
        <%= n.yelp_url %></br>
        <i class="fa fa-yelp"></i>

        <div class='actions'>
          <!-- OLD button with ajax working:          <!-- <%= button_to "Pin It", "/pinned/new" %> -->

          <!-- MODAL STARTS HERE -->
          <a id="fml"  href='javascript:void(0)' onClick="$('#modal-window-<%=n.id%>').modal()"
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addListItem" data-id="<%= n.id %>"  target= "#addListItem">
              Tackit
            </button>
          </a>
          <div id='modal-window-<%=n.id%>' class='modal fade' id="addListItem" role='dialog' aria-labelledby='myModalLabel' aria-hidden
          ='true' >
          <div class='modal-dialog'>
            <div class='modal-content'>
              <%= render '/album/pua', locals: {photo_id: n.id}  %>
            </div>
          </div>
        </div>
        <!-- MODAL ENDS HERE -->

        <% @pid = n.id %>
        <%= hidden_field_tag "[pid]", n.id, class: "info" %>

      </div>
    </div>
  </div>
  <!-- <%# end %> -->
  <% end %>
</div>
<% end %>



<%= will_paginate @photos%>
</div>
