<div class="container">
  <% name = current_user.name %>
  <div class = headerdos floater><h2>Like </h2></div></br>
  <% @photo = @photos.order(created_at: :asc) %>
  <% @photo.where(user: current_user.id).in_groups_of(3).each do |photo|%>
  <div class="row">

    <% photo.each do |n| %>
    <% if n != nil %>
    <!-- <%# cache(n) do %> -->
    <div class= 'col-xs-12 col-md-4 col-lg-4'>
      <div class='class' data-id="<%= @yay = n.id %>">
        <%= button_to "-", onelast_path(pictured: n.id), {:class => "btn btn-primary yelpbutton prettyblue delete" } %>
        <%= image_tag n.url %>
        </br>
        <strong>
          <%= n.ig_user %>
        </strong>
        </br>
        <div class ='commentfrominsta'>
          <%= n.caption %>
        </div>
        <% @loc = n.loc_name %>
        </br>
        <% if @loc.present? && @loc != nil  %>
            <b>Instagram Location:</b>
            <%= @loc %></br>
        <% else %>
            Instagram data not present.</br>
        <% end %>
        <% @lat = n.lat %>
        <% @long = n.long %>
        <% if n.google_name != "" %>
          <b>Google Places Name:</b> <%=  n.google_name %></br>
        <% else %>
          Google Location is unavailable.</br>
        <% end %>
        </br>

        <% n.yelp_url %>
        <% if n.yelp_url != "" && n.yelp_url != nil%>
        <a href="<%= n.yelp_url %>">
          <div class= 'btn btn-primary yelpbutton prettyblue'><i class="fa fa-yelp fa-2x"></i></div>
        <% else %>
        <div class='toolis' data-toggle="tooltip" data-placement="top"  title="yelp data not available">
          <div class= 'btn btn-primary yelpbutton prettyblue a' ><i class="fa fa-yelp fa-2x"></i></div>
        </div>
        <% end %>







        <div class='actions'>
                 <!-- <%= button_to "-", onelast_path(pictured: n.id), {:class => "btn btn-primary yelpbutton prettyblue" } %> -->

          <!-- MODAL STARTS HERE -->

          <a id="fml"  href='javascript:void(0)' onClick="$('#modal-window-<%=n.id%>').modal()"
            <button type="button" class="btn btn-primary prettyblue" data-toggle="modal" data-target="#addListItem" data-id="<%= n.id %>"  target= "#addListItem">
              +Album
            </button>
          </a>

          <div id='modal-window-<%=n.id%>' class='modal fade' id="addListItem" role='dialog' aria-labelledby='myModalLabel' aria-hidden
          ='true' >
          <div class='modal-dialog'>
            <div class='modal-content'>
              <%= render '/album/pua', locals: {photo_id: n.id}  %>
            </div>
          </div>
        </div>
        <!-- MODAL ENDS HERE -->

        <% @pid = n.id %>
        <%= hidden_field_tag "[pid]", n.id, class: "info" %>

      </div>
    </div>
  </div>
  <% end %>
  <% end %>

</div>
<% end %>



<%= will_paginate @photos%>
</div>
