<div class="container">
  <% @photos.where(user: current_user.id).in_groups_of(3).each do |photo|%>
  <div class="row">
    <% photo.each do |n| %>
    <!-- <%# cache(n) do %> -->
    <div class= 'col-xs-12 col-md-4 col-lg-4'>
      <div class='class' data-id="<%= @yay = n.id %>">

        <%= image_tag n.url %></br>
        <%= n.ig_user %></br>
        <div class ='commentfrominsta'>
          <%= n.caption %></br>
        </div>
        <% @loc = n.loc_name %></br>
        <% if @loc.present? or @loc != nil  %>
          <b>Instagram Location:</b>
          <%= @loc %>
        <% else %>
          Instagram data not present.
        <% end %> </br></br> </br>
        <%= @lat = n.lat %></br>
        <%= @long = n.long %></br>
        <% if n.google_name != "" %>
          <b>Google Places Name:</b> <%=  n.google_name %>
        <% else %>
          Google Location is unavailable.
        <% end %>
        </br>
        <%= n.yelp_url %>
        <% if n.yelp_url != " "%></br>
          <a href="<%= n.yelp_url %>">
            <div class= 'btn btn-primary yelpbutton'><i class="fa fa-yelp fa-2x"></i></div>
        <% else %>
          <div class= 'btn btn-primary yelpbutton'><i class="fa fa-yelp fa-2x greyit"></i></div>
        <% end %>


        <div class='actions'>
          <!-- OLD button with ajax working:          <%= button_to "Pin It", "/pinned/new" %> -->

          <!-- MODAL STARTS HERE -->
          <a id="fml"  href='javascript:void(0)' onClick="$('#modal-window-<%=n.id%>').modal()"
            <button type="button" class="btn btn-primary prettyblue" data-toggle="modal" data-target="#addListItem" data-id="<%= n.id %>"  target= "#addListItem">
              +Album
            </button>
          </a>

          <div id='modal-window-<%=n.id%>' class='modal fade' id="addListItem" role='dialog' aria-labelledby='myModalLabel' aria-hidden
          ='true' >
          <div class='modal-dialog'>
            <div class='modal-content'>
              <%= render '/album/pua', locals: {photo_id: n.id}  %>
            </div>
          </div>
        </div>
        <!-- MODAL ENDS HERE -->

        <% @pid = n.id %>
        <%= hidden_field_tag "[pid]", n.id, class: "info" %>

      </div>
    </div>
  </div>

  <% end %>
</div>
<% end %>



<%= will_paginate @photos%>
</div>
