<div class='container'>
  <h1><center> <%= params[:feed_id]%> Album </h1></center>
  <div class="row">
    <% @albumnames = params[:feed_id] %> 
<% AlbumPhoto.where(album_id: params[:feed_id]).each do |ap| %>

  <div class= 'col-xs-12 col-md-4 col-lg-4'>
    <div class = 'classapple'>
<% @photoid = ap.photo_id %>
<% photos = Photo.find(@photoid) %>
<% @image = photos.url%>
<%= image_tag(@image) %>
<%= photos.ig_user %></br>
<%= photos.loc_name %></br>
<%= photos.google_name %></br>
<%= photos.yelp_url %></br>
<%= button_to 'delete', deletion_path(f_id: @photoid, feed_id: @albumnames)%>
  </div>
  </div>

<% end %>
</div>
</div>
