<!DOCTYPE html>
<html>
<head>
  <title>Iglu</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Titillium+Web:300">
    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Titillium+Web:300">

    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
</head>
<body>


<%= yield %>

<% if session[:user_id] %>
<%= render "home/signed_in" %>
<% else %>
<%= render "home/guest" %>
<% end %>

<div id='event-modal-window' class='modal fade' role='dialog' aria-labelledby='myModalLabel' aria-hidden
='true' >
<div class='modal-dialog'>
  <div class='modal-content'>
    <%= render 'home/new'%>
  </div>
</div>
</div>

</body>
</html>
