<!DOCTYPE html>
<html>
<head>
  <title>Iglu</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Titillium+Web:300">
    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Titillium+Web:300">
    <link rel='stylesheet' href="https://dl.dropboxusercontent.com/u/68399045/lmroman10-regular-webfont.svg#latin_modern_roman10_regular">
    <link rel='stylesheet' href='https://dl.dropboxusercontent.com/u/68399045/lmroman10-regular-webfont.eot'>
    <link rel='stylesheet' href='https://dl.dropboxusercontent.com/u/68399045/lmroman10-regular-webfont.eot?#iefix'>
    <link rel='stylesheet' href='https://dl.dropboxusercontent.com/u/68399045/lmroman10-regular-webfont.woff'>
    <link rel='stylesheet' href='https://dl.dropboxusercontent.com/u/68399045/lmroman10-regular-webfont.ttf'>
    <link rel='stylesheet' href='https://dl.dropboxusercontent.com/u/68399045/lmroman10-regular-webfont.svg#latin_modern_roman10_regular'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
</head>
<body>


<%= yield %>

<% if session[:user_id] %>
<%= render "home/signed_in" %>
<% else %>
<%= render "home/guest" %>
<% end %>

</body>
</html>
